<div class="max-w-2xl bg-white border-2 p-3 rounded shadow-lg mb-5">
    <div class="flex">
        <div class="w-full flex flex-justify-start space-x-5">
            <input type="checkbox" class="w-24 h-full rounded text-red-500 border-gray-500" [checked]="task.expired" (click)="updateExpired()">
            <p class="text-xl font-semibold mb-2 h-full align-text-bottom">{{ task.name | titlecase }}</p>
        </div>
        <div class="flex-col">
            <p class="font-light text-sm">{{ task.created_at | date : 'short'}}</p>
            <button
                class="bg-red-500 hover:bg-red-700 text-white py-2 px-2 text-sm rounded font-semibold shadow-md" (click)="delete()">
                 Supprimer</button>
        </div>
    </div>
</div>